/********** FOOTER **********/
footer {
    width: 100%;
    background-color:#3a3a3a;
    color: white;
}

footer h2 {
    font-family: $font-logo;
    font-weight: 100;
    margin: 0;
    padding: 17px;
}

footer ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 0 25px 15px;
    list-style-type: none;
}

footer li {
    padding: 5px 0;
}

footer i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    font-size: 12px;
    padding-right: 5px;
}

.footer_icone {
    display: flex;
    align-items: center;
}
/********** FIN FOOTER **********/