/********** HEADER **********/
header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-family: $font-logo;
    font-weight: 100;
}
/********** FIN HEADER **********/