.btn {
    padding: 15px 20px 15px 20px;
    margin: 30px 0 60px 0;
    text-align: center;
    color: white;
    font-weight: 500;
    background: linear-gradient(175deg, $color-secondary 15%, $color-primaire 90%);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 30px;
    width: 180px;
    transition: transform 450ms;
    &:hover {
        background: linear-gradient(175deg, hsl(317, 100%, 79%) 15%, hsl(267, 66%, 65%) 90%);
        box-shadow: 7px 7px 5px rgba(0,0,0,0.4);
    }
}

.btn_nouveau {
    position: absolute;
    text-align: center;
    font-weight: 500;
    color: $color-nouveau;
    right: 15px;
    bottom: 150px;
    padding: 7px;
    background: $color-tertiaire;
    border-radius: 2px;
    transition: transform 450ms;
    &:hover {
        background: $color-nouveau;
        color: $color-tertiaire;
        box-shadow: 7px 7px 5px rgba(0,0,0,0.4);
    }
    @include tablette-only {
        padding: 5px;
        bottom: 80%;
    }
}