/********** MENU **********/
.menu .carte_image {
    width: 100%;
}

.menu_contenu {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    margin-top: -30px;
    background-color: $color-background-secondary;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
  
.menu_contenu h1 {
    font-family: $font-logo;
    font-weight: 400;
}
/********** TITRE DU MENU **********/
.menu_titre {
    display: flex;
    justify-content: space-around;
}

.menu_titre span {
    display: flex;
    align-items: center;
    font-size: 25px;
}
/********** FIN TITRE DU MENU **********/
/********** BLOC POUR LE PLAT **********/
.menu_plat {
    display: flex;
    flex-direction: column;
}

.menu_plat .menu_plat_carte {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: $color-background-primaire;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 20px;
    color: black;
}

.menu_plat .menu_plat_titre {
    display: flex;
    flex-direction: column;
}

.menu_plat h3 {
    font-weight: 300;
    width: 35px;
    padding-bottom: 5px;
    border-bottom: 3px solid $color-tertiaire;
}

.menu_plat h4 {
    font-size: 19px;
    margin: 0;
    padding: 10px 0 5px 10px;
}

.menu_plat p {
    font-size: 14px;
    margin: 0;
    padding: 5px 0 10px 10px;
}

.menu_plat a {
    @include text_list_none;
}

.menu_plat span {
    display: flex;
    position: relative;
    left: -15px;
    top: 40px;
    font-weight: bold;
}
/********** FIN BLOC POUR LE PLAT **********/
/********** MENU BTN **********/
.menu_btn {
    @include center;
}

.menu_btn a {
    @include text_list_none;
}
/********** FIN MENU BTN **********/
/********** FIN MENU **********/