/********** HEADER **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}

/********** FIN HEADER **********/
/********** FOOTER **********/
footer {
  width: 100%;
  background-color: #585858;
  color: white;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin: 0;
  padding: 20px;
}

footer ul {
  list-style-type: none;
}

/********** FIN FOOTER **********/
/********** BODY **********/
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding: 0;
}

/********** FIN BODY **********/
/********** MENU **********/
.menu {
  background-color: #F7F7F7;
}

.menu_formulaire {
  /* */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F0;
  padding: 15px;
}

.menu_formulaire span {
  font-size: 15px;
  padding-right: 15px;
  color: dimgrey;
}

.menu_formulaire input {
  font-size: 17px;
  font-weight: bold;
  background-color: #F2F2F2;
  border: none;
}

.menu_explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_explorer h1 {
  margin: 30px 50px 20px 50px;
}

.menu_explorer p {
  font-weight: 300;
  margin: 0 30px 0 30px;
}

.menu_explorer a {
  padding: 20px;
  color: white;
  text-decoration: none;
  background-color: #FF79DA;
  box-shadow: 4px 4px blueviolet;
  border-radius: 30px;
  margin: 30px 0 70px 0;
}

/********** FIN MENU **********/
/********** CONTENUE FONCTIONNEMENT ET RESTAURANT **********/
.contenu_fr {
  display: flex;
  flex-direction: column;
}

/********** FIN CONTENUE FONCTIONNEMENT ET RESTAURANT **********/
/********** FONCTIONNEMENT **********/
.fonctionnement {
  margin-bottom: 40px;
}

.fonctionnement h1 {
  margin: 40px 0 20px 15px;
}

.carte_fonctionnement {
  display: flex;
  height: 70px;
  margin: 20px;
  background-color: #F2F2F2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.carte_fonctionnement .carte_nom {
  display: flex;
  margin: 0;
  color: black;
}

/********** FIN FONCTIONNEMENT **********/
/********** RESTAURANT **********/
.restaurants {
  background-color: #F2F2F2;
}

.restaurants h1 {
  margin: 40px 0 20px 15px;
}

.carte_restaurant {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 20px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.carte_restaurant .carte_image {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 120px;
}

.carte_restaurant .carte_contenu {
  padding-left: 20px;
}

.carte_restaurant .carte_nom {
  display: flex;
  margin: 0;
  color: black;
}

.carte_restaurant .carte_plat {
  display: flex;
  margin: 0;
  color: black;
}

/********** FIN RESTAURANT **********/
