.menu_carte_plat {
        animation-delay: 5000ms;
        animation: menu_carte_plat-menu_plat 5000ms;
}

@keyframes menu_carte_plat-menu_plat {
    100% {
        transform: translate(50px, 7vh);
        opacity: 0;
    }
    100% {
         opacity: 1;
    }
}