$font-logo: 'Shrikhand', cursive;

$color-primaire: #9256dc;
$color-primaire-light: #a06be1;
$color-secondary: #ff79da;
$color-secondary-light: #ff94e1;
$color-tertiaire: #99E2D0;

$color-nouveau: #008766;
$color-icone: #696969;

$color-background-primaire: white;
$color-background-secondary: #F2F2F2;
$color-background-tertiaire: #F8F8F8;

$breakpoints: (
    tablette: 768px,
    desktop: 1025px
);

@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin text_list_none {
    text-decoration: none;
    list-style-type: none;
}

@mixin titre_h {
    margin: 0;
    color: black;
}