$font-logo: 'Shrikhand', cursive;

$color-primaire: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;

$color-icone: #696969;
$color-background-primaire: white;
$color-background-secondary: #F2F2F2;
$color-background-teriaire: #F8F8F8;