$font-logo: 'Shrikhand', cursive;

$color-primaire: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;

$color-icone: #696969;
$color-background: #E9E9E9;
$color-background-carte: #F2F2F2;